@model IEnumerable<BibliotekLabb4.Models.KundVyModell>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfterNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AntalLan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KundId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfterNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilTelefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntalLan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KundId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KundId}) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Ta bort", "Delete", new { id = item.KundId})
        </td>
    </tr>
}

</table>
